<!doctype html>

<script id="template-username-modal" type="text/x-handlebars-template">
  <div id="usernameModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Welcome to Jibe!</h2>

          <p>
            In this application, each user gets a username and a color to identify their contributions.
          </p>

          <p>
            What would you like to be known as?  If you just click out of this modal,
            or click cancel, we will use the generated name in the placeholder.
          </p>

          <div class="form-group">
            <label for="usernameField" class="control-label">
              Choose your username:
            </label>
            <input type="text" class="form-control" id="usernameField" placeholder="{{ generated_username }}" />
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</script>
